@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for Ant Design integration */
/* globals.css or similar */
.ant-layout {
  background: rgba(239, 239, 239, 0.266) !important;
}

.ant-layout-sider {
  background: white !important;
}

.ant-layout-header {
  background: white !important;
}

.ant-menu {
  background: white !important;
}